*
  box-sizing: border-box
h1
  margin: 0.6em 0
body
  +reg
img
  max-width: 100%
.container
  width: 1170px
  margin: auto
@media (max-width: 1200px)
  .container
    width: 760px
@media (max-width: 768px)
  .container
    max-width: 500px
    width: 90% 
@media (max-width: 567px)
  .container
    max-width: 277px
.btn
  outline: none
  border-radius: 10px
  background-color: $main-color
  border: none  
  padding: 16px 29px 17px 36px
  &:hover
    background-color: lighten($main-color, 10%)
    cursor: pointer
@media (max-width: 567px)
  .btn
    border-radius: 5px
.section
  padding: 90px 0
  &-title
    font-size: 24px
    +bold 
  &-subtitle
    font-size: 16px
.input
  border: 1px solid $border-input
  padding: 22px 26px 22px 26px
  color: #999999
  font-size: 15px
  border-radius: 10px