.hero
  padding: 50px 0
  &-image
    margin-top: -1px
    & img
      max-width: 100%;
      padding-right: 21px;
  &-block
    display: flex
  &-text
    flex-basis: 44%
    padding-right: 110px
    &__title
      color: $text-color
      font-size: 41px
      font-weight: 700
      line-height: 55px
      margin-bottom: 35px
      +bold
    &__subtitle
      display: inline-block
      color: $text-color
      font-size: 20px
      font-weight: 600
      margin-bottom: 69px
      +bold
  &-list
    margin: 0
    padding: 0
    &__item
      display: flex
      align-items: center
      margin-bottom: 25px
    &__image
      width: 37px;
      height: 38px;
      border: 2px solid $main-color
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      margin-right: 30px
    &__text
      max-width: 300px
      line-height: 1.6;
      font-size: 14px;
      letter-spacing: 0.6px;
      font-weight: 600;

@media (max-width: 1200px)
  .hero
    &-image
      padding-top: 3px;
    &-block
      flex-direction: column
    &-list
      margin-bottom: 46px
    &-text
      padding-right: 10px
@media (max-width: 768px)
  .hero
    &-image
      & img
        padding-right: 0
    &-text
      margin-top: -26px
      &__title
        font-size: 22px
        line-height: 1.4
        margin-bottom: 7px
        letter-spacing: 0.35px
      &__subtitle
        font-size: 16px
        margin-bottom: 28px
        margin-left: 6px
    &-list
      margin-bottom: 34px
      &__item
        margin-bottom: 15px
      &__text
        font-size: 12px;
        max-width: 203px;
        letter-spacing: 0.1px;
        margin-left: 2px;
        line-height: 1.2;
      &__image
        margin-right: 15px;
        padding-top: 1px;
        padding-left: 2px;
        magin-bottom: -1px;
        margin-bottom: 1px;
@media (max-width: 567px)
  .hero
    &-text
      padding-right: 0
      &__title
        letter-spacing: 0.31px;
        margin-left: 4px;
        margin-top: 13px;
        margin-bottom: 4px;
        font-size: 23px;
      &__subtitle
        margin-bottom: 28px;
