@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  margin: 0.6em 0;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 500px;
    width: 90%;
  }
}

@media (max-width: 567px) {
  .container {
    max-width: 277px;
  }
}

.btn {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 16px 29px 17px 36px;
}

.btn:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

@media (max-width: 567px) {
  .btn {
    border-radius: 5px;
  }
}

.section {
  padding: 90px 0;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
}

.section-subtitle {
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 22px 26px 22px 26px;
  color: #999999;
  font-size: 15px;
  border-radius: 10px;
}

/* стили шапки */
.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  color: #333333;
  line-height: 10px;
}

.navbar__btn {
  padding-left: 31px;
  margin-left: 29px;
  font-size: 13px;
  font-family: 'Museo Sans Bold', sans-serif;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  margin-top: 8px;
  font-family: 'Museo Sans Bold', sans-serif;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__btn {
    padding: 15px 26px 14px 26px;
  }
  .navbar__logo {
    width: 91px;
  }
}

@media (max-width: 567px) {
  .navbar {
    padding: 17px 0;
  }
  .navbar__btn {
    font-size: 10px;
    padding: 15px 25px 14px 25px;
    margin-bottom: 4px;
  }
}

/* стили  главного экрана*/
.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-image {
  margin-top: -1px;
  margin-left: 26px;
}

.hero-image img {
  max-width: 100%;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 10px;
}

.hero-text__title {
  color: #333333;
  font-size: 41px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 37px;
  margin-left: -3px;
  font-family: 'Museo Sans Bold', sans-serif;
}

.hero-text__subtitle {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 69px;
  font-family: 'Museo Sans Bold', sans-serif;
}

.hero-list {
  margin: 0;
  padding: 2px;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
  margin-top: -2px;
}

.hero-list__image {
  width: 37px;
  height: 38px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 300px;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .hero-image {
    padding-top: 3px;
  }
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 46px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-image img {
    padding-right: 0;
  }
  .hero-text {
    margin-top: -26px;
  }
  .hero-text__title {
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 7px;
    letter-spacing: 0.35px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
    margin-left: 6px;
  }
  .hero-list {
    margin-bottom: 34px;
  }
  .hero-list__item {
    margin-bottom: 15px;
  }
  .hero-list__text {
    font-size: 12px;
    max-width: 203px;
    letter-spacing: 0.1px;
    margin-left: 2px;
    line-height: 1.2;
  }
  .hero-list__image {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    margin-right: 15px;
    padding-top: 1px;
    padding-left: 2px;
    magin-bottom: -1px;
    margin-bottom: 1px;
  }
}

@media (max-width: 567px) {
  .hero {
    padding: 50px 0 50px 2px;
  }
  .hero-image {
    margin-left: 0;
  }
  .hero-list {
    margin-bottom: 30px;
  }
  .hero-list__text {
    letter-spacing: 0;
  }
  .hero-list__item:last-child {
    margin-top: 0;
  }
  .hero-list__item:first-child {
    margin-top: -2px;
    margin-bottom: 17px;
  }
  .hero-list__image {
    margin-right: 11px;
    padding-left: 0;
  }
  .hero-text {
    padding-right: 0;
  }
  .hero-text__title {
    letter-spacing: 0.47px;
    margin-left: 5px;
    margin-top: 13px;
    margin-bottom: 8px;
    font-size: 23px;
    line-height: 30px;
  }
  .hero-text__subtitle {
    margin-bottom: 26px;
  }
}

/* стили блока офер */
.offer {
  background: url("../img/kuhna.jpg") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  background-color: #fff;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 21px;
  margin-top: -14px;
}

.offer__subtitle {
  display: block;
  max-width: 250px;
  margin-bottom: 32px;
}

.offer__input {
  width: 240px;
  margin-bottom: 30px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__input:focus {
  outline: none;
  border: 1px solid #ffd200;
}

.offer__button {
  width: 100%;
  padding: 17px 37px 17px 36px;
  min-height: 70px;
  color: #333333;
  font-size: 16px;
  font-family: 'Museo Sans Bold', sans-serif;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
    letter-spacing: -0.4px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
}

.info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__support {
  margin-top: 26px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}

.info__support:first-child {
  margin-right: 70px;
}

.info b {
  font-family: 'Museo Sans Bold', sans-serif;
}

@media (max-width: 567px) {
  .offer {
    padding-top: 50px;
  }
  .offer__title {
    max-width: 274px;
    line-height: 22px;
    margin-bottom: 19px;
    margin-top: -14px;
    font-size: 18px;
    margin-top: -6px;
  }
  .offer__input {
    margin-bottom: 7px;
  }
  .offer__subtitle {
    margin-bottom: 26px;
    font-family: 'Museo Sans Light', sans-serif;
    font-weight: 300;
    font-size: 14px;
  }
  .offer__input {
    padding: 23px 26px 23px 26px;
  }
  .offer__button {
    margin-top: 3px;
    padding: 18px 37px 18px 42px;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 22px;
  }
  .info {
    display: block;
    width: 100%;
    font-size: 15px;
    margin-left: 6px;
  }
  .info__support {
    display: block;
    margin-bottom: 0;
    margin-top: 0;
  }
  .info__support:first-child {
    margin-right: 0;
    margin-bottom: 6px;
  }
}

/* модельное окно */
.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}
/*# sourceMappingURL=style.css.map */